body, h2, button {
  font-family: Ubuntu, sans-serif;
}
#status {
  margin: 10px auto;
  text-align: center;
  font-size: 20px;
  white-space: nowrap;
}

ul {
  font-size: 16px;
  font-weight: bold;
  list-style: none;
  padding: 0;
}

li {
  font-size: 14px;
  font-weight: normal;
  white-space: nowrap;
  margin: 0 0 0 5px;
}

button {
  font-weight: bold;
  font-size: 18px;
  display: block;
  margin: 10px auto;
  width: 200px;
  height: 40px;
}

#save-location {
  font-family: sans-serif;
  white-space: nowrap;
  font-style: italic;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
}

.links p {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
